@{
    ViewBag.Title = "Home";
}

<div class="row voffset5">
    <h2>Welcome</h2>
 
</div>
<hr />
<div class="row voffset5">
    <h2>Latest News</h2>
    <partial name="~/Views/App/_articlesummary.cshtml" />
</div>
<hr />
<div class="row voffset5">
    <h3>Most Liked Articles</h3>
    <partial name="~/Views/App/_articleheading.cshtml" />
</div>