
@{
    ViewBag.Title = "Dashboard";
}

<div class="row voffset5 center">
    <h2>Admin Dashboard</h2>
</div>

<div class="row voffset5">
    <h3>Articles</h3>
    <partial name="~/Views/Admin/_articletable.cshtml" />
</div>
<hr />
<div class="row voffset5">
    <h3>Analytics</h3>
    <partial name="~/Views/Admin/_chart.cshtml" />
</div>
