nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

footer {
    bottom: 0;
    position: absolute;
    width:100%;
    padding:10px;
    color:white;
}

body {
    padding-bottom: 50px; 
}

.container.main-body{
    margin-bottom:40px;

}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.card {
   width: 20rem;  
   margin:20px;
}

.card.heading
{
width:100%;
}

.card-text.article {
   
    overflow: hidden;
    text-overflow: ellipsis;
    height:150px;
}

#horizontalBar
{
    margin-bottom:60px;
}
